<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>method</key>
		<string>developer-id</string>
		<key>teamID</key>
		<string>TYA5L6SWSX</string>
		<key>uploadBitcode</key>
		<true/>
		<key>compileBitcode</key>
		<true/>
		<key>uploadSymbols</key>
		<true/>
		<key>signingStyle</key>
		<string>manual</string>
		<key>signingCertificate</key>
		<string>Developer ID Application: Velocitek, Inc.</string>
	</dict>
</plist>
